.talk {
  background-color: #a9a9a9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  left: 440px;
  top: 500px;
}
.content {
  position: absolute;
  left: 50px;
  top: 430px;
}
